.vs/AdventOfCode/v16/.suo
.vs/AdventOfCode/v16/Server/sqlite3/db.lock
.vs/AdventOfCode/v16/Server/sqlite3/storage.ide
.vs/AdventOfCode/v16/Server/sqlite3/storage.ide-shm
.vs/AdventOfCode/v16/Server/sqlite3/storage.ide-wal
AdventOfCode/bin/Debug/netcoreapp3.1/AdventOfCode.dll
AdventOfCode/bin/Debug/netcoreapp3.1/AdventOfCode.exe
AdventOfCode/bin/Debug/netcoreapp3.1/AdventOfCode.pdb
AdventOfCode/obj/AdventOfCode.csproj.nuget.cache
AdventOfCode/obj/Debug/netcoreapp3.1/AdventOfCode.AssemblyInfoInputs.cache
AdventOfCode/obj/Debug/netcoreapp3.1/AdventOfCode.assets.cache
AdventOfCode/obj/Debug/netcoreapp3.1/AdventOfCode.csproj.FileListAbsolute.txt
AdventOfCode/obj/Debug/netcoreapp3.1/AdventOfCode.csprojAssemblyReference.cache
AdventOfCode/obj/Debug/netcoreapp3.1/AdventOfCode.dll
AdventOfCode/obj/Debug/netcoreapp3.1/AdventOfCode.exe
AdventOfCode/obj/Debug/netcoreapp3.1/AdventOfCode.genruntimeconfig.cache
AdventOfCode/obj/Debug/netcoreapp3.1/AdventOfCode.pdb
AdventOfCode/obj/AdventOfCode.csproj.nuget.g.targets
AdventOfCode/obj/AdventOfCode.csproj.nuget.g.props
AdventOfCode/obj/AdventOfCode.csproj.nuget.dgspec.json
AdventOfCode/obj/project.assets.json
AdventOfCode/obj/Debug/netcoreapp3.1/AdventOfCode.AssemblyInfo.cs
